$main: #020916;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: $main;
  overflow-x: hidden;
}
.container {
  width: 1200px;
  margin: auto;
  @media only screen and (max-width: 700px) {
    width: 900px;
  }
}
div {
  .container {
    .ins-container {
      height: 70px;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media only screen and (max-width: 700px) {
        width: 500px;
        // background-color: red;
      }
      .logo {
        width: 85px;
        height: 84px;
        @media only screen and (max-width: 700px) {
          width: 75px;
          height: 74px;
          padding: 10px 5px;
        }
      }
      .right-side {
        align-items: center;
        border: 1px solid $main;
        // border-radius: 50px;
        padding: 5px 15px;
        display: flex;
        input {
          outline: none;
          color: white;
          font-size: 17px;
          height: 36px;
          padding: 10px 15px;
          border: none;
          // border-radius: 50px;
          border-top-left-radius: 50px;
          border-bottom-left-radius: 50px;
          // font-family: ;
          background-color: #29303d;

          // border
          @media only screen and (max-width: 700px) {
            width: auto;
            font-size: 14px;
            height: 26px;
          }
        }
        a {
          border: none;
          outline: none;
          height: 36px;
          margin: auto;
          align-items: center;
          align-self: center;
          // margin-top: 10px;
          padding: 5px 15px;
          // background: url("../public/Icon.png") no-repeat;
          background-color: #29303d;
          align-items: center;
          border-top-right-radius: 50px;
          border-bottom-right-radius: 50px;
          @media only screen and (max-width: 700px) {
            height: 25px;
            width: auto;
            margin-right: 50px;
          }
          img {
            width: 20px;
            height: 20px;
            margin: auto;
            background-color: #29303d;
            @media only screen and (max-width: 700px) {
              height: 20px;
              width: 20px;
            }
          }
        }
      }
    }
    // background-color: white;
  }
}
.showco {
  display: flex;
  position: relative;
  .show-card {
    position: relative;
    overflow: hidden;
    width: 100vw;
    // transform: translateX(0) scale(0);
    height: 70vh;
    // animation-name: animation-slide;
    // animation-duration: 20s;
    transition: 0.4s;
    // animation-iteration-count: infinite;
    // display: inline;
    // @keyframes animation-slide {
    //   0% {
    //     transform: translateX(0) scale(1);
    //   }
    //   100% {
    //     transform: translateX(-100%) scale(1);
    //   }
    // }
    .cover-photo {
      z-index: -1;
      position: absolute;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      
      animation-name: animation;
      animation-duration: 8s;
      animation-iteration-count: infinite;

      transform: scale(0.5);
      top: 0;
      left: 0;
      right: 0;
      transition: 0.4s;
      @keyframes animation {
        0% {
          filter: brightness(0.9);

          transform: scale(1);
          transition: 0.4s;
        }
        50% {
          filter: brightness(0.95);

          transform: scale(1.1);
          transition: 0.4s;
        }
        100% {
          filter: brightness(0.9);

          transform: scale(1);
          transition: 0.4s;
        }
      }
    }
    .container {
      height: 90vh;
      align-items: center;
      padding-top: 200px;
      justify-content: left;
      text-align: left;
      color: white;
      @media only screen and (max-width: 700px) {
        padding: 200px 10px;
      }
      .title {
        margin: auto;
        font-size: 35px;
        @media only screen and (max-width: 700px) {
          font-size: 25px;
        }
      }
      .releaseData {
        // padding: 5px 0;
        font-size: 23px;
        color: #ffba00;
        @media only screen and (max-width: 700px) {
          font-size: 19px;
        }
      }
      .play-place {
        padding: 15px 0;
        text-align: left;
        width: 140px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .play-icon {
          // background-color: red;
          width: 25px;
          height: 25px;
        }
        p {
          font-size: 20px;
        }
      }
      .actions {
        position: absolute;
        display: flex;
        // flex-direction: row;
        // align-items: center;
        // width: 100vw;
        bottom: 50px;
        right: 100px;
        // left: 900px;
        // background-color: red;
        .show-number {
          font-size: 26px;
          font-weight: bold;
          align-self: center;
          color: #ffba00;

          align-items: center;
          // background: red;
          // width: 30px;
        }
        p {
          img {
            cursor: pointer;
            width: 68px;
            height: 58px;
          }
        }
      }
    }
  }
}
.container-min {
  .top-rated {
    padding-left: 100px;
    color: white;
    font-size: 31px;
    padding-bottom: 10px;
    @media only screen and (max-width: 700px) {
      font-size: 26px;
    }
  }

  .sub-container {
    padding-left: 90px;

    width: 100vw;
    overflow: auto;
    align-items: center;
    display: flex;
    gap: 5px;
    height: auto;
    .content {
      position: relative;
      background-color: red;
      height: auto;
      align-items: center;
      color: white;
      border-radius: 20px;
      border-radius: 20px;
      width: 230px;
      background-color: #2b3442;
      top: 0;
      bottom: 0;
      padding-bottom: 10px;
      transform: scale(0.9);
      .sup-cont {
        position: relative;
        img {
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          width: 190px;
          height: 250px;
          object-fit: cover;
        }
        p {
          font-size: 15px;
          padding: 3px 10px;
        }
      }
      .another-cont {
        position: absolute;
        border-radius: 20px;
        border-radius: 20px;
        padding: 5px 10px;
        background-color: rgba(43, 52, 66, 0.93);
        top: 0;
        text-align: center;
        transform: translateY(200%) scale(0);
        overflow: auto;
        height: 300px;
        transition: 0.14s;
        .overview {
          padding-top: 10px;
          opacity: 0.6;
        }
      }
      &:hover {
        .another-cont {
          transform: translateY(0) scale(1);
          height: 290px;
        }
      }
    }
  }
}
.min-def {
  height: 450px;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  @media only screen and (max-width: 700px) {
    height: 400px;

    padding-top: 30px;
  }
}
